<div class="expandable-description">
  <h1>{{ this.expandableDescription }}</h1>
</div>

<mat-accordion>
  <mat-expansion-panel
    class="repo-item"
    *ngFor="let item of this.expandableItems"
  >
    <mat-expansion-panel-header expandedHeight="75px" collapsedHeight="75px">
      <mat-panel-title>
        {{ item.name }}
      </mat-panel-title>
      <mat-panel-description class="panel-description"
        >{{ item.description }}
        <mat-icon
          matBadge="{{ item.counter?.number }}"
          matBadgeColor="warn"
          matBadgeSize="small"
          >{{ item.counter?.icon }}</mat-icon
        >
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-custom-content
      [configuration]="this.item.content"
    ></app-custom-content>
  </mat-expansion-panel>
</mat-accordion>
