.content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    img {
      display: block;
      margin: auto;
      max-width: 150px;
      border-radius: 50%;
    }

    .text-info {
    }
  }
  .expandable-content-links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .user-repos-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
