<div class="content-container">
  <!-- If the configuration data belongs to a user display its data -->
  <div class="info">
    <img
      *ngIf="this.configuration.image"
      src="{{ this.configuration.image }}"
      alt="avatar"
      class="avatar"
    />
    <div
      class="text-info"
      *ngIf="this.configuration.isUserData; else goToRepos"
    >
      <p>
        <strong>{{ this.configuration.name }}</strong>
      </p>
      <ng-template *ngIf="this.configuration.description">
        <p><strong></strong>{{ this.configuration.description }}</p>
      </ng-template>
    </div>
    <ng-template #goToRepos>
      <div class="user-repos-link">
        <button mat-raised-button color="warn" (click)="navigateTo('user-organizations')">
          Check user organizations
        </button>
      </div>
    </ng-template>
  </div>

  <div class="expandable-content-links">
    <ng-container *ngFor="let link of this.configuration.links">
      <a
        mat-raised-button
        color="primary"
        *ngIf="link.url"
        href="{{ link.url }}"
        target="_blank"
        >{{ link.label }}</a
      >
    </ng-container>

    <div *ngIf="this.configuration.isUserData" class="user-repos-link">
      <a mat-raised-button color="warn" (click)="navigateTo('user-repos')"
        >Check user repos</a
      >
    </div>
  </div>
</div>
