<div class="orgs-container">
  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="User data">
          <div class="tab-content">
            <h1 class="user-name">
              Username: {{ this.expandableItemsUser?.name }}
            </h1>
            <app-custom-content
              [configuration]="this.expandableItemsUser?.content"
            ></app-custom-content>
          </div>
        </mat-tab>
        <mat-tab label="User organizations">
          <ng-template *ngIf="this.expandableItemsOrgs.length > 0; else noOrganizations">
            <app-custom-expandable
              [configuration]="{
                expandableDescription: this.expandableDescriptionOrgs,
                expandableItems: this.expandableItemsOrgs
              }"
            ></app-custom-expandable>
          </ng-template>
          <ng-template #noOrganizations>
            <div class="no-organizations">
              <p><strong>There are no organizations to display</strong> </p>

            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
